# Xcode
DerivedData/
*.xcuserdata
*.xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata

# macOS
.DS_Store
*.app
*.dSYM.zip
*.dSYM

# IDE
.idea/
*.swp
*.swo
*~

# Python venv
.venv/

# reasonix
.reasonix/
.reasonix/*

# Tests
.xctest
.xctestplan
Tests/.build